<!DOCTYPE html>
<html>
<head>
  <title>Nexmo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="collapse navbar-collapse" >
        <a class="navbar-brand" href="/">Kittens &amp; Associates</a>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class='container'>
    <% flash.each do |type, message| %>
      <div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-12 <%= 'col-md-6 col-md-offset-3' unless user_signed_in? %>">
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      Images courtesy of <%= link_to 'lorempixel.com', 'https://lorempixel.com' %>
    </div>
  </footer>
</body>
</html>
